<div class="home-container">
  <div class="fs">
    <h1>Bienvenido <br>a <span class="highlight">SmartControl</span></h1>
    <p>Aplicación desarrollada para llevar el control de <a href="https://smartx.espol.edu.ec" target="_BLANK">SmartX Journal Club</a>.</p>
    <p *ngIf="!isLoggedIn"><a href="/club/login">Inicia sesión </a>     o     <a href="/club/register"> Regístrate</a></p>
    <p *ngIf="isLoggedIn">Accede a tus lecturas desde el menú o da click    <a href="/club/lectures"> aquí</a></p>
  </div>
</div>
